<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        PequeLey es 100% offline. No se declara el permiso INTERNET
        ni ningún permiso sensible (ubicación, contactos, cámara, micrófono).
        Ver docs/MEMORIA_DESCRIPTIVA.md sección "Privacidad".
    -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".PequeLeyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PequeLey"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="false"
        tools:targetApi="34"
        xmlns:tools="http://schemas.android.com/tools">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PequeLey"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
